[submodule "Sprint1DemoApp"]
	path = Sprint1DemoApp
	url = https://github.com/arcec-cs/Beacon_Monitor_Demo_App.git
[submodule "MonumapCreator"]
	path = MonUmapper
	url = https://github.com/scherflinge/MonumapCreator.git
